.container {
	flex: 1;
	display: flex;
	flex-direction: column;

	.messageContainer {
		flex: 1;
		overflow: auto;
		height: 0;
		flex-basis: auto;

		flex-direction: column-reverse;
		display: flex;
	}

	.joinLeave {
		padding: 0.5em 0;
		text-align: center;
		color: #868686;
	}

	.inputContainer {
		flex-basis: 50px;
	}
}
