.imageContainer {
	position: relative;

	.image {
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		border-radius: 4px;
		background-color: #141414;

		.badgeContainer {
			position: absolute;
			top: 5px;
			right: 5px;

			.hasBeenPlayed {
				color: #447ddc;
				font-size: 1.5em;
			}

			.badge sup {
				background-color: #447ddc;
				box-shadow: unset;
			}
		}

		.progressContainer {
			position: absolute;
			bottom: 0;
			height: 4px;
			width: 100%;
			background-color: #7b7b7ba6;

			.progress {
				background-color: #447ddc;
				height: 100%;
			}
		}
	}
}

.subText {
	.primaryText {
		text-align: center;
		margin: 7px 0 0 0;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.secondaryText {
		text-align: center;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	& > *:last-child {
		margin-bottom: 7px;
	}
}
